/* TODO: use pseudo element and butify search */


.search-bar label {
    /* outline: 1px solid red; */
}


.search-bar {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.search-label {
    /* outline: 1px solid blue; */
}

.search-bar input {
    width: 300px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: xx-large;
    letter-spacing: .1em;
    border: none;
    text-align: center;
    border-bottom: 4px solid rgba(6, 208, 20, 0.473);
    border-radius: 5px;
    transition: transform .5s, border-bottom .5s;

}

input:focus, input:active .search-bar{
   outline: none;
   transform: scale(1.07);
   border-bottom: 4px solid rgb(6, 208, 20);
}
.faContainer {
    display: inline;
    width: 30px; 
    margin-right: 20px;
}